[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflowjs = "*"
fastapi = "*"
uvicorn = "*"
langchain = "*"
python-dotenv = "*"
pypdf = "*"
pymongo = "*"
tiktoken = "*"
langchain-community = "*"
sentence-transformers = "*"


[dev-packages]
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
